<footer class="footer">
	<div class='footer__container _container'>
		<div class="footer__top top-footer">
			<div class="top-footer__column">
				<div class="top-footer__item">
					<a href="" class="top-footer__logo"><img src="img/logo_white.svg" alt=""></a>
					<a href="" class="top-footer__link">О нас</a>
					<a href="" class="top-footer__link">Контакты</a>
				</div>
			</div>
			<div class="top-footer__column">
				<form action="#" class="top-footer__form form-block">
					<div class="form-block__input">
						<input autocomplete="off" type="text" name="form[]" data-value="Поиск по сайту" class="input" />
					</div>
					<button type="submit" class="form__btn btn"></button>
				</form>
			</div>
		</div>
		<div class="footer__bottom bottom-footer">
			<div class="bottom-footer__column">
				<p class="bottom-footer__text">ООО "Виллант", Россия 195196 г.Санкт-Петербург <br>
					ул. Таллинская, дом 7, лит. А,пом. 6Н
				</p>
			</div>
			<div class="bottom-footer__column">
				<div class="bottom-footer__item">
					<a href="mailto:info@willant.ru" class="bottom-footer__mail mail">info@willant.ru</a>
					<a href="tel:(812) 345-5689" class="bottom-footer__phone phone">(812) 345-5689</a>
				</div>
			</div>
		</div>
	</div>
</footer>