<header class="header _lp">
	<div class="header__container _container">
		<div class="header__top top-header">
			<div class="top-header__column">
				<a href="" class="top-header__logo"><img src="img/logo.svg" alt=""></a>
			</div>
			<div class="top-header__column">
				<div class="top-header__body body-top-header">
					<div class="body-top-header__column">
						<a href="mailto:info@willant.ru" class="body-top-header__mail mail">info@willant.ru</a>
					</div>
					<div class="body-top-header__column">
						<a href="tel:(812) 345-5689" data-move="menu__content,2,993" class="body-top-header__phone phone">(812) 345-5689</a>
					</div>
					<div class="body-top-header__column">
						<div class="body-top-header__item item-body-header">
							<div class="item-body-header__links links-body">
								<a href="" class="links-body__link">О нас</a>
								<a href="" class="links-body__link">Контакты</a>
							</div>
							<a href="#feedback" data-move="menu__content,3,768" class="item-body-header__write _popup-link">Напишите нам</a>
							<div class="item-body-header__squre">
								<a href="" class="item-body-header__search">
									<img src="img/icons/icon-search.svg" alt="">
								</a>
							</div>
							<div class="item-body-header__squre item-body-header__squre_burger icon-menu">
								<div class="item-body-header__icon icon-menu">
									<span></span>
									<span></span>
									<span></span>
								</div>
							</div>
							<form action="#" data-move="menu__content,4,768" class="item-body-header__form form-block">
								<div class="form-block__input">
									<input autocomplete="off" type="text" name="form[]" data-value="Поиск по сайту" class="input" />
								</div>
								<button type="submit" class="form__btn btn"></button>
								<div class="form-block__closed">
									<img src="img/icons/close-red.svg" alt="">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header__menu menu">
			<nav class="menu__body">
				<div class="menu__content">
					<ul class="menu__list">
						<li><a href="" class="menu__link"><span>О компенсаторах Willbrand</span></a></li>
						<li><a href="" class="menu__link"><span>Типы резиновых компенсаторов</span></a></li>
						<li><a href="" class="menu__link"><span>Материалы</span></a></li>
						<li><a href="" class="menu__link"><span>Монтаж и обслуживание</span></a></li>
						<li class="menu__parent">
							<a href="" class="menu__link menu__link_parent"><span>Техническая информация</span></a>
							<ul class="menu__sublist">
								<li><a href="" class="menu__subLink"><span>Резиновые компенсаторы для нефтепродуктов</span></a></li>
								<li><a href="" class="menu__subLink"><span>Резинокордные компенсационные вставки в трубопроводы</span></a></li>
								<li><a href="" class="menu__subLink"><span>Резиновые компенсаторы с фланцами из нержавеющей стали</span></a></li>
							</ul>
						</li>
					</ul>
					<ul class="menu__hide">
						<li>
							<a href="" class="menu__link"><span>О нашей компании</span></a></li>
						<li>
							<a href="" class="menu__link"><span>Контактная информация</span></a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</header>