<div class="popup popup_feedback">
	<div class="popup__content">
		<div class="popup__body body-feedback">
			<div class="body-feedback__title title-catalog"><span class="title-catalog__red">Напишите нам</span></div>
			<form action="#" class="body-feedback__form form-feedback">
				<div class="form-feedback__input form-feedback__input_feed">
					<input autocomplete="off" type="text" name="form[]" data-error="Ошибка" data-value="Имя / Организация" class="input _req" />
				</div>
				<div class="form-feedback__row">
					<div class="form-feedback__column">
						<div class="form-feedback__input form-feedback__input_feed">
							<input autocomplete="off" type="text" name="form[]" data-error="Ошибка" data-value="Электронная почта" class="input _email _req" />
						</div>
					</div>
					<div class="form-feedback__column">
						<div class="form-feedback__input form-feedback__input_feed">
							<input autocomplete="off" type="text" name="form[]" data-error="Ошибка" data-value="Телефон" class="input _phone _req" />
						</div>
					</div>
				</div>
				<div class="form-feedback__text-area form-feedback__text-area_feed">
					<textarea name="form[]" class="_req input" rows="5" data-error="Ошибка" data-value="Текст сообщения"></textarea>
				</div>
				<div class="form-feedback__button">
					<button type="submit" class="form-feedback__btn form-feedback__btn_feed btn-send">Отправить <span>сообщение</span></button>
				</div>
			</form>
			<div class="popup__close"></div>
		</div>
	</div>
</div>
<div class="popup popup_message">
	<div class="popup__content">
		<div class="popup__body">
			<div class="popup__close"></div>
			<div class="popup__text">Отправлено</div>
		</div>
	</div>
</div>


<div class="popup popup_catalog">
	<div class="popup__content">
		<div class="popup__body popup__body_catalog body-catalog">
			<div class="popup__close"></div>
			<div class="body-catalog__title title-catalog"><span class="title-catalog__red">Получить каталог</span></div>
			<form action="#" class="item-column__form form-catalog form-catalog_pop">
				<div class="form-catalog__input form-catalog__input_pop">
					<input autocomplete="off" type="text" name="form[]" data-error="Ошибка" data-value="Имя / Организация" class="input _req" />
				</div>
				<div class="form-catalog__input form-catalog__input_pop">
					<input autocomplete="off" type="text" name="form[]" data-error="Ошибка" data-value="Электронная почта" class="input _email _req" />
				</div>
				<div class="form-catalog__input form-catalog__input_pop">
					<input autocomplete="off" type="text" name="form[]" data-error="Ошибка" data-value="Телефон" class="input _phone _req" />
				</div>
				<div class="form-catalog__input form-catalog__input_pop">
					<input autocomplete="off" type="text" name="form[]" data-value="Контактное лицо" class="input" />
				</div>
				<button type="submit" class="form-catalog__btn form-catalog__btn_pop btn-catalog"><span>Скачать каталог</span></button>
			</form>
		</div>
	</div>
</div>