.page {
	// .page__contact
	&__contact {
		@media (max-width: $md3+px) {
			padding: 70px 15px 0px 15px;
		}
	}
	// .page__feedback
	&__feedback {
		@media (max-width: $md3+px) {
			padding: 100px 15px;
		}
	}
}
.contact {
	padding: 200px 0px 80px 0px;
	// .contact__row
	&__row {
		display: flex;
		@media (max-width: $md1+px) {
			display: block;
		}
	}
	// .contact__column
	&__column {
		flex: 0 0 50%;
	}
	// .contact__item
	&__item {
	}
	// .contact__map
	&__map {
		height: 100%;
		@media (max-width: $md1+px) {
			height: 580px;
		}
		@media (max-width: $md3+px) {
			margin: 0px -15px;
		}
	}
}

.item-contact {
	padding: 0px 85px 0px 0px;
	display: flex;
	flex-direction: column;
	@media (max-width: $md1+px) {
		padding: 50px 0px 35px 0px;
	}
	// .item-contact__title
	&__title {
		font-family: "PT Sans";
		margin: 0px 0px 55px 0px;
		font-weight: bold;
		font-size: 52px;
		line-height: 62px;
		/* or 119% */

		/* gray text 1 */

		color: #4d4d4d;
		@media (max-width: $md1+px) {
			width: 100%;
		}
	}
	// .item-contact__subtitle
	&__subtitle {
		font-size: 21px;
		line-height: 30px;
		color: #4d4d4d;
		margin: 0px 0px 55px 0px;
		position: relative;
		p {
			padding: 0px 85px 0px 30px;
			position: relative;
			&:before {
				content: "";
				width: 2px;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-color: #5991ff;
			}
			@media (max-width: $md1+px) {
				padding: 0px 15px 0px 15px;
			}
		}
		&:before {
			content: "";
			background: url("../img/icons/arrows_contacts.png") 0 0 no-repeat;
			width: 52px;
			height: 108px;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0px, -50%);
		}
		@media (max-width: $md1+px) {
			&:before {
				display: none;
			}
			font-size: 24px;
		}
		@media (max-width: $md3+px) {
			font-size: 21px;
			line-height: 30px;
		}
	}
	// .item-contact__info
	&__info {
		background: #ffffff;
		border: 1px solid #e1e9fb;
		box-sizing: border-box;
		box-shadow: 0px 5px 10px rgba(237, 240, 250, 0.65);
		width: 100%;
		padding: 35px 0px;
	}
}

.info-contact {
	display: flex;
	justify-content: center;
	// .info-contact__body
	&__body {
		width: 210px;
	}
	// .info-contact__row
	&__row {
		display: flex;
		align-items: center;
		margin: 0px 0px 30px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
		&:nth-child(2) {
			img {
				max-width: 20px;
			}
		}
	}
	// .info-contact__column
	&__column {
		&:nth-child(1) {
			flex: 0 0 30px;
		}
	}
	&__mail {
		color: #4d4d4d;
		font-size: 24px;
		padding: 0;
		transition: all 0.3s ease 0s;
	}
	// .info-contact__phone
	&__phone {
		font-size: 24px;
		font-weight: bold;
		padding: 0;
		transition: all 0.3s ease 0s;
	}
}

.feedback {
	background-color: #ecf1fb;
	padding: 80px 0px;
	// .feedback__body
	&__body {
		box-sizing: border-box;
		box-shadow: 0px 25px 30px rgba(0, 13, 40, 0.12);
	}
}

.body-feedback {
	padding: 60px 100px 60px 100px;
	background: #ffffff;
	border: 6px solid #0044c8;
	// .body-feedback__title
	&__title {
		margin: 0px 0px 40px 0px;
		width: 100%;
		text-align-last: left;
	}
	// .body-feedback__form
	&__form {
	}
	@media (max-width: $md1+px) {
		padding: 60px 80px 60px 80px;
	}
	@media (max-width: $md2+px) {
		padding: 60px 50px 60px 50px;
	}
	@media (max-width: $md3+px) {
		padding: 60px 30px 60px 30px;
	}
}
.form-feedback {
	// .form-feedback__input
	&__input {
		input {
			background: #f3f7fa;
			box-shadow: inset 0px 1px 2px #d6e0e8;
			height: 60px;
			font-size: 21px;
			border-radius: 0;
			@media (max-width: $md3+px) {
				font-size: 18px;
			}
		}
		margin: 0px 0px 30px 0px;
	}
	// .form-feedback__row
	&__row {
		display: flex;
		margin: 0px -15px;
		@media (max-width: $md2+px) {
			margin: 0px -7.5px;
		}
		@media (max-width: $md3+px) {
			display: block;
		}
	}
	// .form-feedback__column
	&__column {
		flex: 0 0 50%;
		max-width: 50%;
		padding: 0px 15px;
		@media (max-width: $md2+px) {
			padding: 0px 7.5px;
		}
		@media (max-width: $md3+px) {
			max-width: none;
		}
	}
	// .form-feedback__text-area
	&__text-area {
		textarea {
			background: #f3f7fa;
			border-radius: 0 !important;
			box-shadow: inset 0px 1px 2px #d6e0e8;
			width: 100%;
			resize: none;
			font-size: 21px;
			line-height: 40px;
			color: #9fabc0;

			padding: 10px 20px;
			&:focus {
				color: #111;
			}
		}
		margin: 0px 0px 40px 0px;
	}
	&__button {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .form-feedback__btn
	&__btn {
	}
}
