.elements {
	// .elements__conect
	&__conect {
		background-color: #ecf1fb;
	}
}
// ================================ all elemebts css
.elements {
	// .elements__content
	&__content {
		margin: 0px 0px 40px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 20px 0px;
		}
	}
	// .elements__start
	&__start {
		margin: 16px 0px 40px 0px;
		@media (max-width: $md3+px) {
			margin: 16px 0px 20px 0px;
		}
	}
	// .elements__direction
	&__direction {
		margin: 0px 0px 40px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 20px 0px;
		}
	}
	// .elements__limiters
	&__limiters {
		margin: 0px 0px 40px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 20px 0px;
		}
	}
	// .elements__lists
	&__lists {
		margin: 0px 0px 40px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 20px 0px;
		}
	}
	// .elements__pagination
	&__pagination {
		margin: 0px 0px 40px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 20px 0px;
		}
	}
	// .elements__tables
	&__tables {
		margin: 0px 0px 40px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 20px 0px;
		}
	}
	// .elements__description
	&__description {
		margin: 0px 0px 40px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 20px 0px;
		}
	}
	// .elements__important
	&__important {
		margin: 0px 0px 40px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 20px 0px;
		}
	}
}

// ================================ header-elements
.header-elements {
	// .header-elements__row
	&__row {
		display: flex;
		position: relative;
		padding: 0px 0px 0px 0px;
		border-bottom: 1px solid #e9ecf4;
		@media (max-width: $md3+px) {
			overflow: auto;
			white-space: nowrap;
			//flex-direction: column;
		}
	}
	// .header-elements__column
	&__column {
		margin: 0px 0px 20px 0px;
		position: relative;
		padding: 0px 0px 0px 40px;
		> span {
			display: inline-block;
			font-weight: 300;
			font-size: 17px;
			color: #787878;
		}
		&:before {
			content: "";
			background: url("../img/icons/arrow_icon.svg") 0 0 no-repeat;
			width: 16px;
			height: 16px;
			position: absolute;
			top: 1px;
			left: 10px;
		}
		&:first-child {
			padding: 0px 0px 0px 0px;
			&:before {
				display: none;
			}
			margin: 0px 0px 20px 0px;
			@media (max-width: $md3+px) {
				margin: 0px 0px 20px 0px;
			}
		}
		&:last-child {
			@media (max-width: $md3+px) {
				margin: 0px 0px 20px 0px;
			}
		}
	}
	// .header-elements__link
	&__link {
		display: inline-block;
		font-weight: 300;
		font-size: 17px;
		line-height: 20px;
		span {
			display: inline;
			color: #787878;
			border-bottom: 1px dashed #878787;
		}
		&:hover {
			span {
				color: #2670ff;
				border-bottom: 1px dashed #2670ff;
			}
		}
	}
}

// ================================ Start
.start {
	// .direction__text
	&__text {
		padding: 0px 0px 0px 28px;
	}
	h5 {
		position: relative;
		&:before {
			content: "";
			width: 8px;
			height: 8px;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: -30px;
			background-color: #2670ff;
			box-shadow: 0px 4px 4px #cddeff;
			transform: translate(0px, -50%);
		}
	}
}

// ================================ direction

.direction {
	// .direction__title-h2
	&__title-h2 {
		margin: 0px 0px 40px 0px;
	}
	// .direction__picture
	&__picture {
		margin: 0px 0px 40px 0px;
		padding: 70px 40px;
		border: 1px solid #92b7ff;
		box-shadow: 0px 5px 10px rgba(206, 213, 233, 0.65);
		img {
			max-width: 100%;
		}
		@media (max-width: $md3+px) {
			padding: 0px;
		}
	}
	// .direction__img

	// .direction__info
}

// ================================ __limiters
.limiters {
	// .limiters__float
	&__float {
	}
	&__full {
	}
}
.block-pic {
	font-family: "PT Sans";
	font-size: 18px;
	line-height: 24px;
	color: #1f1f1f;
	// .block-pic-float__img
	&__img {
		position: relative;
		margin: 0px 0px 20px 0px;
		border: 1px solid #92b7ff;
		box-sizing: border-box;
		box-shadow: 0px 5px 10px rgba(206, 213, 233, 0.65);
		img {
			max-width: 100%;
		}
		&_float {
			float: left;
			margin: 0px 20px 20px 0px;
		}
	}
	// .block-pic-float__title
	&__title {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 50%;
		height: 50px;
		@media (max-width: $md3+px) {
			width: 100%;
		}
	}
}
.title-img {
	background-color: rgba(241, 246, 255, 0.9);
	line-height: 50px;
	padding: 0px 30px;
	&:before {
		content: "";
		width: 4px;
		height: 14px;
		background-color: #2670ff;
		position: absolute;
		top: 50%;
		left: 20px;
		transform: translate(0px, -50%);
	}
	@media (max-width: $md3+px) {
		padding: 0px 10px 0px 20px;
		&:before {
			left: 10px;
		}
	}
}

// ================================lists

.lists {
}

// ================================content
.content {
	ul {
		margin: 0px 0px 30px 0px;
		font-family: "PT Sans";
		font-size: 18px;
		line-height: 24px;
		color: #1f1f1f;
		padding: 0px 0px 0px 30px;
		li {
			margin: 0px 0px 20px 0px;
			position: relative;
			&:before {
				content: "";
				width: 8px;
				height: 8px;
				border-radius: 50%;
				position: absolute;
				top: 7px;
				left: -30px;
				background-color: #2670ff;
				box-shadow: 0px 4px 4px #cddeff;
			}
			ul {
				padding: 20px 0px 0px 30px;
				li {
					margin: 0px 0px 20px 0px;
					position: relative;
					&:before {
						content: "";
						width: 8px;
						height: 8px;
						border-radius: 50%;
						position: absolute;
						top: 7px;
						left: -30px;
						background: #ffffff;
						border: 1px solid #2670ff;
						box-sizing: border-box;
						box-shadow: 0px 4px 4px #cddeff;
					}
				}
			}
		}
	}
	ol {
		margin: 0px 0px 30px 0px;
		font-family: "PT Sans";
		font-size: 18px;
		line-height: 24px;
		color: #1f1f1f;
		list-style: none;
		counter-reset: my-awesome-counter;
		padding: 0px 0px 0px 0px;
		li {
			margin: 0px 0px 20px 0px;
			counter-increment: my-awesome-counter;
			position: relative;
			padding: 0px 0px 0px 30px;
			&:before {
				content: counter(my-awesome-counter) ". ";
				color: #0044c8;
				font-weight: bold;
				position: absolute;
				top: 0;
				left: 0;
			}
			ol {
				padding: 20px 0px 0px 0px;
				li {
					margin: 0px 0px 20px 0px;
				}
			}
		}
	}
	// .content__body
	&__body {
		background: #fff;
		border: 1px solid #92b7ff;
		box-sizing: border-box;
		box-shadow: 0px 5px 10px rgba(206, 213, 233, 0.65);
	}
	// .content__subtitle
	&__subtitle {
		background: #f7f9fd;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0px 30px 0px 40px;
		&:hover {
			a {
				color: #2670ff;
			}
		}
		@media (max-width: $md3+px) {
			background-color: #fff;
			padding: 0px 15px;
		}
	}
	&__title {
		display: inline-block;
		line-height: 77px;
		font-family: "PT Sans";
		font-weight: bold;
		font-size: 34px;
		color: #4d4d4d;
		span {
			border-bottom: 1px dashed #878787;
		}
		@media (max-width: $md2+px) {
			font-size: 32px;
		}
		@media (max-width: $md3+px) {
			font-size: 18px;
			line-height: 62px;
		}
	}
	// .content__list
	&__list {
		padding: 20px 30px 20px 40px;
		overflow: hidden;
		li {
			@media (min-width: 992px) {
				&:hover {
					a {
						color: #2670ff;
					}
					p {
						background: url("../img/icons/arrow_icon__blue_pc.svg") 0 0 no-repeat;
					}
				}
				&:active {
					a {
						color: #004fe9;
					}
				}
			}
		}
		@media (max-width: $md3+px) {
			padding: 15px;
		}
	}
	&__number {
		flex: 0 0 15px;
		font-weight: normal;
		color: #4d4d4d;
		&_bold {
			font-weight: 700;
		}
	}
	// .content__element
	&__element {
		margin: 0px 0px 25px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
		display: flex;
		justify-content: space-between;
		position: relative;
		align-items: center;
		p {
			flex: 0 0 30px;
			position: relative;
			background: url("../img/icons/arrow_icon.svg") 0 0 no-repeat;
			width: 16px;
			height: 16px;
			margin: 0;
		}
		&:before {
			content: "";
			width: 150%;
			height: 1px;
			background-color: #f7f9fd;
			position: absolute;
			top: -12.5px;
			left: -38px;
		}
		&:nth-child(1) {
			&:before {
				display: none;
				@media (max-width: $md3+px) {
					display: block;
				}
			}
		}
		@media (max-width: $md3+px) {
			p {
				display: none;
			}
		}
	}
	// .content__link
	&__link {
		flex: 1 1 100%;
		font-family: "Open Sans";
		font-weight: 600;
		font-size: 21px;
		color: #4d4d4d;
		display: inline-flex;
		align-items: center;
		span {
			border-bottom: 1px dashed #878787;
		}
		@media (max-width: $md2+px) {
			font-size: 18px;
		}
		@media (max-width: $md3+px) {
			display: inline-block;
			font-size: 16px;
			line-height: 25px;
			flex: 1 1 auto;
		}
	}
}
// ================================pagination

.pagination {
	// .pagination__title-h2
	&__title-h2 {
		margin: 0px 0px 40px 0px;
	}
	// .pagination__row
	&__row {
		display: flex;
		align-items: center;
		margin: 0px 0px 80px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
		@media (max-width: $md1+px) {
			max-width: 100%;
			&:nth-child(3) {
				display: none;
			}
		}
		@media (max-width: $md3+px) {
			flex-direction: column;
			align-items: center;
			margin: 0px 0px 40px 0px;
		}
	}
	// .pagination__column
	&__column {
		@media (max-width: $md3+px) {
			margin: 0px 0px 30px 0px;
		}
	}
	// .pagination__numbers
	&__numbers {
	}
	// .pagination__links
	&__links {
	}
}
.numbers-pag {
	// .numbers-pag__list
	ul.numbers-pag__list {
		padding: 0;
		display: flex;
		margin: 0;
		li {
			margin: 0px 10px 0px 0px;
			&:before {
				display: none;
			}
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
			@media (max-width: $md3+px) {
				margin: 0px 5px;
			}
		}
	}
	// .numbers-pag__link
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		font-weight: bold;
		font-size: 21px;
		line-height: 25px;
		color: #4d4d4d;
		position: relative;
		z-index: 2;
		span {
			border-bottom: 1px dashed #97add9;
		}
		@media (min-width: 992px) {
			&:hover {
				background: radial-gradient(50% 50% at 50% 50%, #ffffff 77.6%, #f9fbff 100%);
				border: 1px solid #2670ff;
				box-shadow: 0px 10px 20px #cbd7f9;
				span {
					border-bottom: 1px dashed transparent;
				}
			}
			&._active {
				background: #0044c8;
				box-shadow: 0px 10px 20px #b7c9fa;
				color: #fff;
			}
		}
		&._active {
			background: #0044c8;
			box-shadow: 0px 10px 20px #b7c9fa;
			color: #fff;
		}
		@media (max-width: $md3+px) {
			width: 40px;
			height: 40px;
		}
	}
}
.pagination-links-control {
	a {
		display: inline-block;
		font-family: "Roboto";
		font-weight: 500;
		font-size: 21px;
		line-height: 25px;
		color: #4d4d4d;
		margin: 0px 20px;
		&:hover {
			color: #2670ff;
		}
	}
	span {
		border-bottom: 1px dashed #97add9;
	}
	@media (min-width: 992px) {
		&:hover {
			span {
				border-bottom: 1px dashed #2670ff;
			}
		}
	}
	// .pagination-links-control__back
	&__back {
		position: relative;
		padding: 0px 0px 0px 30px;
		&:before {
			content: "";
			background: url("../img/icons/p-right.svg") 0 0 no-repeat;
			transform: rotate(-180deg);
			position: absolute;
			top: 2px;
			left: 0;
			width: 22px;
			height: 22px;
		}
		&:hover {
			&:before {
				background: url("../img/icons/p-right_a.svg") 0 0 no-repeat;
			}
		}
		span {
		}
	}
	// .pagination-links-control__forw
	&__forw {
		position: relative;
		padding: 0px 30px 0px 0px;
		&:before {
			content: "";
			background: url("../img/icons/p-right.svg") 0 0 no-repeat;
			position: absolute;
			top: 0;
			right: 0;
			width: 22px;
			height: 22px;
		}
		&:hover {
			&:before {
				background: url("../img/icons/p-right_a.svg") 0 0 no-repeat;
			}
		}
		span {
		}
	}
}
// ================================tables
.tables {
	&__block {
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		padding: 0px 10px 15px;
		table {
			font-size: 17px;
			width: 100%;
			color: #1f1f1f;
			text-align: center;
			border: 1px solid #aebac2;
			box-shadow: 0px 5px 10px rgba(206, 213, 233, 0.65);
			border-collapse: collapse;
			overflow: hidden;
			span {
				display: block;
				position: relative;
				z-index: 2;
			}
			th {
				color: #fff;
				background-color: #a7b3bc;
				font-weight: bold;
				position: relative;
				span {
					padding: 15px 30px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				@media (min-width: 992px) {
					&:hover {
						span {
							&:after {
								/*
								content: "";
								position: absolute;
								width: 100%;
								height: 2px;
								top: 0;
								left: 0;
								background-color: #2670ff;
								*/
							}
						}
						&:before {
							content: "";
							background-color: #8396bc;
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							z-index: 2;
						}
						&:after {
							content: "";
							position: absolute;
							background-color: #e5eeff;
							left: 0;
							top: 0px;
							height: 10000px;
							width: 100%;
							z-index: 1;
						}
					}
				}
			}
			td {
				padding: 10px;
				&:nth-child(1) {
					font-weight: bold;
				}
			}
			tr {
				th {
					&:nth-child(2n + 1) {
						background-color: #aebac2;
					}
				}
				&:nth-child(2n) {
					background-color: #f7f9fd;
				}
				&:hover {
					td {
						background-color: #e5eeff;
						&:first-child {
							position: relative;
							&:before {
								content: "";
								width: 2px;
								height: 100%;
								position: absolute;
								left: 0;
								top: 0;
								background-color: #2670ff;
							}
						}
					}
				}
			}
			@media (max-width: $md2+px) {
				font-size: 16px;
			}
		}
		@media (max-width: $md3+px) {
			table {
				width: auto;
			}
		}
		&_auto {
			table {
				width: auto;
			}
		}
		&_big {
			table {
				th {
					font-size: 16px;
				}
				td {
					font-size: 16px;
				}
				tr {
					&:nth-child(1),
					&:nth-child(2) {
						border: 1px solid #aebac2;
					}
				}
			}
		}
	}
}
// ================================__description
.description {
	// .description__body
	&__body {
		box-shadow: 0px 5px 10px rgba(206, 213, 233, 0.65);
		border: 1px solid #f7f9fd;
	}
	// .description__row
	&__row {
		display: flex;
		padding: 35px 36px;
		&:nth-child(1) {
			background-color: #aebac2;
		}
		&:nth-child(2n) {
			background-color: #f7f9fd;
		}
		@media (max-width: $md3+px) {
			flex-direction: column;
			padding: 20px 10px 20px 10px;
		}
	}
	// .description__column
	&__column {
		&:nth-child(1) {
			flex: 0 0 290px;
			@media (max-width: $md3+px) {
				flex: 1 1 auto;
				margin: 0px 0px 20px 0px;
			}
		}
	}
	// .description__title
	&__title {
		font-weight: bold;
		font-size: 18px;
		color: #ffffff;
		padding: 20px 0px;
		@media (max-width: $md3+px) {
			padding: 0;
		}
	}
	// .description__subtitle
	&__subtitle {
		max-width: 185px;
		font-size: 21px;
		line-height: 24px;
		p {
			font-weight: bold;
			margin: 0px 0px 15px 0px;
		}
		@media (max-width: $md3+px) {
			max-width: 100%;
		}
	}
	// .description__list
	&__list {
		padding: 0px 0px 0px 30px;
		li {
			font-size: 18px;
			line-height: 25px;
			margin: 0px 0px 5px 0px;
			position: relative;
			&:before {
				content: "";
				width: 8px;
				height: 8px;
				position: absolute;
				top: 9px;
				left: -30px;
				background: #2670ff;
				box-shadow: 0px 4px 4px #cddeff;
				border-radius: 50%;
			}
		}
	}
}

// ================================important
.important {
	margin: 0px 0px 80px 0px;
	// .important__body
	&__body {
		border: 1px solid #e30000;
		box-sizing: border-box;
		box-shadow: 0px 5px 10px #fce4e4;
	}
	// .important__subtitle-h3
	&__subtitle-h3 {
		background-color: #e30000;
		color: #fff;
		height: 75px;
		display: flex;
		align-items: center;
		padding: 0px 0px 0px 100px;
		position: relative;
		font-size: 34px;
		font-weight: 700;
		&:before {
			content: "";
			background: url("../img/icons/important.png") 0 0 no-repeat;
			width: 26px;
			height: 26px;
			position: absolute;
			top: 50%;
			left: 50px;
			transform: translate(0px, -50%);
		}
		&:after {
			content: "";
			width: 0;
			height: 0;
			position: absolute;
			bottom: -5px;
			left: 200px;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid #e30000;
		}
		@media (max-width: $md3+px) {
			padding: 0px 0px 0px 60px;
			font-size: 22px;
			&:before {
				left: 20px;
			}
			&:after {
				left: 100px;
			}
		}
		@media (max-width: $md4+px) {
			&:after {
				left: calc(50% - 2.5px);
			}
		}
	}
	&__text {
		background-color: #fffbfb;
		padding: 30px 40px;
		@media (max-width: $md3+px) {
			padding: 15px;
		}
	}
	// .important__info
	&__info {
		font-family: "Open Sans";
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		margin: 0px 0px 40px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
		@media (max-width: $md3+px) {
			margin: 0px 0px 20px 0px;
			font-size: 16px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
	}
}
// ================================conect
.conect-elements {
	padding: 80px 0px 120px 0px;
	font-family: "PT Sans";
	@media (max-width: $md1+px) {
		display: none;
	}
	// .conect-elements__body
	&__body {
		background-color: #fff;
		border: 6px solid #0044c8;
		box-shadow: 0px 25px 30px rgba(205, 212, 226, 0.75);
	}
	// .conect-elements__row
	&__row {
		display: flex;
	}
	// .conect-elements__column
	&__column {
		flex: 0 1 50%;
		max-width: 50%;
		&:nth-child(2) {
			background-color: #f7f9fd;
		}
	}
	// .conect-elements__item
	&__item {
		padding: 42px 30px 65px 70px;
	}
}
.item-column {
	text-align: center;
	// .item-column__title
	&__title {
		margin: 0px 0px 25px 0px;
		max-width: 335px;
		display: inline-block;
	}
	// .item-column__text

	// .item-column__form
	&__form {
	}
	// .item-column__subtitle
	&__subtitle {
		font-size: 21px;
		line-height: 30px;
		text-align: center;
		color: #787878;
	}
	// .item-column__phone
	&__phone {
		display: inline-block;
		background-color: #fff;
		border: 1px solid #e1e9fb;
		box-shadow: 0px 5px 10px rgba(237, 240, 250, 0.65);
		border-radius: 5px;
		width: 85%;
		text-align: center;
		font-family: "Roboto";
		font-style: normal;
		font-weight: 500;
		font-size: 38px;
		line-height: 65px;
		color: #4d4d4d;
		position: relative;
		padding: 0px 0px 0px 50px;
		margin: 25px 0px;
		&:before {
			content: "";
			background: url("../img/icons/phone_light_blue.svg") 0 0 / 100% no-repeat;
			width: 34px;
			height: 34px;
			position: absolute;
			top: 50%;
			left: 45px;
			transform: translate(0px, -50%);
		}
	}
}
.title {
	max-width: 335px;
	// .title__catalog
	&__catalog {
	}
}
.form-catalog {
	width: 100%;
	// .form-catalog__input
	&__input {
		input {
			background: #f3f7fa;
			box-shadow: inset 0px 1px 2px #d6e0e8;
			height: 60px;
			font-size: 21px;
		}
		margin: 0px 0px 15px 0px;
		&:last-child {
			margin: 0px 0px 20px 0px;
		}
	}
	// .form-catalog__btn
	&__btn {
	}
}

.content {
	div.uagb-toc__wrap {
		padding: 0;
		background: #fff;
		border: 1px solid #92b7ff;
		box-sizing: border-box;
		box-shadow: 0px 5px 10px rgba(206, 213, 233, 0.65);
	}
	div.uagb-toc__title-wrap {
		display: block !important;
		background: #f7f9fd;
		align-items: center;
		padding: 0px 30px 0px 40px;
		&:hover {
			a {
				color: #2670ff;
			}
		}
		@media (max-width: $md3+px) {
			border-bottom: 1px solid #f7f9fd;
			background-color: #fff;
			padding: 0px 15px;
		}
	}
	div.uagb-toc__title {
		display: block;
		line-height: 77px;
		font-family: "PT Sans";
		font-weight: bold;
		font-size: 34px;
		color: #4d4d4d;
		span {
		}
		@media (max-width: $md2+px) {
			font-size: 32px;
		}
		@media (max-width: $md3+px) {
			font-size: 18px;
			line-height: 62px;
		}
	}
	ul.uagb-toc__list {
		padding: 20px 30px !important;
		@media (max-width: $md3+px) {
			padding: 15px 15px 25px 15px !important;
		}
		li {
			position: relative;
			padding: 0px 0px 0px 30px;
			&:last-child {
				margin: 0px 0px 0px 0px !important;
			}
			&:before {
				display: none;
			}
			&:after {
				content: "";
				width: 16px;
				height: 16px;
				position: absolute;
				left: 0;
				top: 5px;
				background: url("../img/icons/arrow_icon.svg") left no-repeat;
			}
			a {
				font-family: "Open Sans";
				font-weight: 600;
				font-size: 21px !important;
				color: #4d4d4d;
				align-items: center;
				display: inline;
				border-bottom: 1px dashed;
				@media (max-width: $md3+px) {
					font-size: 16px !important;
				}
			}
			@media (min-width: 992px) {
				&:hover {
					&:after {
						background: url("../img/icons/arrow_icon__blue_pc.svg") left no-repeat;
					}
					a {
						color: #2670ff;
					}
				}
			}
		}
	}
	.wp-block-image {
		clear: both;
		position: relative;
		margin: 0 0 20px 0;
		.alignleft {
			margin: 0 20px 20px 0 !important;
			@media (max-width: $md3+px) {
				margin: 0 0px 20px 0 !important;
			}
		}
		figure {
			position: relative;
		}
		img {
			position: relative;
			border: 1px solid #92b7ff;
			box-shadow: 0 5px 10px rgba(206, 213, 233, 0.65);
		}
		figcaption {
			background-color: rgba(241, 246, 255, 0.9);
			line-height: 50px;
			padding: 0 30px;
			position: absolute;
			left: 0;
			bottom: 0;
			height: 50px;
			margin: 0;
			font-family: "PT Sans";
			font-size: 18px;
			&:before {
				content: "";
				width: 4px;
				height: 14px;
				background-color: #2670ff;
				position: absolute;
				top: 50%;
				left: 20px;
				transform: translate(0, -50%);
			}
		}
	}

	.wp-block-quote {
		position: relative;
		border: 1px solid #92b7ff;
		border-left: 3px solid #0044c8;
		box-shadow: 0 5px 10px rgba(206, 213, 233, 0.65);
		margin: 0px 0px 30px 0px;
		padding: 20px;
	}
	.wp-block-table {
		margin: 0px -10px 30px;
	}
	.wp-block-group {
		margin: 0px 0px 30px 0px;
	}
}
