.footer {
	background-color: #001642;
	padding: 60px 0px 100px 0px;
	@media (max-width: $md3+px) {
		padding: 80px 0px 100px 0px;
	}
	// .footer__container
	&__container {
	}
	// .footer__top
	&__top {
	}
	// .footer__bottom
	&__bottom {
	}
}

.top-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px 0px 45px 0px;
	// .top-footer__column
	&__column {
		position: relative;
		&:nth-child(1) {
			flex: 0 0 50%;
			@media (max-width: $md3+px) {
				flex: 1 1 100%;
			}
		}
		&:nth-child(2) {
			flex: 0 1 457px;
			@media (max-width: $md3+px) {
				display: none;
			}
		}
	}
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $md3+px) {
			justify-content: center;
		}
	}
	// .top-footer__logo
	&__logo {
		flex: 0 0 390px;
		img {
			max-width: 100%;
		}
		@media (max-width: $md3+px) {
			text-align: center;
		}
	}
	// .top-footer__link
	&__link {
		font-weight: bold;
		font-size: 17px;
		text-transform: capitalize;
		border-bottom: 1px dashed #878787;
		color: #d3d3d3;
		transition: all 0.3s ease 0s;
		@media (max-width: $md1+px) {
			display: none;
		}
		@media (min-width: 992px) {
			&:hover {
				color: #2670ff;
				border-bottom: 1px dashed #2670ff;
			}
			&:active {
				color: #003cb0;
			}
		}
	}
	// .top-footer__form
	&__form {
		input {
			background: #2d4676;
			border: 0;
			box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.05);
			&:focus {
				color: #fff;
				//background-color: #fff;
			}
		}
	}
}

.bottom-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: $md3+px) {
		flex-direction: column;
	}
	// .bottom-footer__column
	&__column {
		&:nth-child(1) {
			flex: 0 0 50%;
		}
		&:nth-child(2) {
			flex: 0 0 457px;
			@media (max-width: $md2+px) {
				flex: 0 1 50%;
			}
			@media (max-width: $md3+px) {
				flex: 0 0 100%;
			}
		}
	}
	&__text {
		font-size: 17px;
		color: #cecece;
		line-height: 23px;
		@media (max-width: $md2+px) {
			font-size: 16px;
		}
		@media (max-width: $md3+px) {
			display: none;
		}
	}
	// .bottom-footer__mail
	&__item {
		display: flex;
		justify-content: space-between;
		@media (max-width: $md2+px) {
			justify-content: flex-end;
		}
	}
	&__mail {
		color: #cecece;
		&:before {
			content: "";
			background: url("../img/icons/icon_email_light_blue.svg") 0 0 no-repeat;
			position: absolute;
			width: 18px;
			height: 13px;
			top: 6px;
			left: 0;
		}
		@media (max-width: $md2+px) {
			display: none;
		}
	}
	// .bottom-footer__phone
	&__phone {
		color: #cecece;
		&:before {
			content: "";
			background: url("../img/icons/phone_light_blue.svg") 0 0 / 100% no-repeat;
			position: absolute;
			width: 18px;
			height: 18px;
			top: 3.5px;
			left: 0;
		}
		@media (max-width: $md2+px) {
			font-weight: bold;
			font-size: 32px;
			line-height: 37px;
			color: #cecece;
			padding: 0px 0px 0px 35px;
			&:before {
				content: "";
				width: 27px;
				height: 27px;
				position: absolute;
				top: 5px;
				left: 0;
			}
		}
	}
}
//====================================================================================================

//====================================================================================================
