.header {
	width: 100%;
	height: 153px;
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	background: #ffffff;
	box-shadow: 0px 5px 15px rgba(229, 230, 233, 0.7);
	display: flex;
	flex-direction: column;
	justify-content: center;
	@media (max-width: $md1+px) {
		height: 100px;
		align-items: center;
		flex-direction: row;
	}
	@media (max-width: $md3+px) {
		height: 70px;
	}
	// .header__container
	&__container {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	// .header__top
	&__top {
		margin: 0px 0px 25px 0px;
		@media (max-width: $md1+px) {
			margin: 0px 0px 0px 0px;
		}
	}
	// .header__menu
	&__menu {
	}
}
.top-header {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 5;
	@media (min-width: 1150px) {
		&:before {
			content: "";
			width: 150%;
			height: 1px;
			position: absolute;
			bottom: -20px;
			left: -25%;
			background: linear-gradient(to right, transparent, #e9ecf4 25%, #e9ecf4 75%, #e9ecf4 76%, transparent 100%);
		}
	}
	@media (max-width: $md3+px) {
	}
	// .top-header__column
	&__column {
		&:nth-child(1) {
			flex: 0 0 300px;
			@media (max-width: $md3+px) {
				flex: 0 0 225px;
			}
		}
		&:nth-child(2) {
			flex: 1 1 100%;
		}
	}
	// .top-header__logo
	&__logo {
		position: relative;
		z-index: 5;
	}
	// .top-header__body
	&__body {
	}
}
.body-top-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media (max-width: $md1+px) {
		justify-content: flex-end;
	}
	// .body-top-header__column
	&__column {
	}
	// .body-top-header__mail
	&__mail {
		transition: all 0.3s ease 0s;
		&:before {
			content: "";
			background: url("../img/icons/icon_email_dark_blue.svg") 0 0 no-repeat;
			position: absolute;
			width: 18px;
			height: 13px;
			top: 5px;
			left: 0;
		}
		@media (max-width: $md1+px) {
			display: none;
		}
	}
	// .body-top-header__phone
	&__phone {
		transition: all 0.3s ease 0s;
		&:before {
			content: "";
			background: url("../img/icons/phone_dark_blue.svg") 0 0 / 100% no-repeat;
			position: absolute;
			width: 18px;
			height: 18px;
			top: 3.5px;
			left: 0;
		}
		@media (max-width: $md2+px) {
			font-size: 32px;
			padding: 0px 0px 0px 30px;
			position: relative;
			line-height: 1;
			&:before {
				content: "";
				background: url("../img/icons/phone_light_blue.svg") 0 0 / 100% no-repeat;
				top: 6px;
				background-size: 100%;
				width: 25px;
				height: 25px;
			}
		}
		@media (max-width: $md3+px) {
			display: block;
			margin: 0px 0px 20px 0px;
		}
	}
	// .body-top-header__item
	&__item {
	}
}
.item-body-header {
	display: flex;
	align-items: center;
	width: 430px;
	justify-content: space-between;
	position: relative;
	@media (max-width: $md1+px) {
		justify-content: flex-end;
		width: 330px;
	}
	@media (max-width: $md3+px) {
		width: 100%;
	}
	// .item-body-header__links
	&__links {
	}
	// .item-body-header__write
	&__write {
		font-weight: 500;
		font-size: 16px;
		line-height: 40px;
		text-align: center;
		color: #ffffff;
		background: #e30000;
		box-shadow: 0px 4px 9px #ff9696;
		border-radius: 5px;
		padding: 0px 25px;
		transition: all 0.3s ease 0s;
		@media (max-width: $md1+px) {
			margin: 0px 0px 0px 0px;
			display: block;
		}
		@media (max-width: $md3+px) {
			display: block;
			margin: 0px 0px 20px 0px;
			//max-width: 320px;
		}
		@media (min-width: 992px) {
			&:hover {
				background-color: #ff1717;
			}
			&:active {
				background-color: #c90000;
			}
		}
	}
	// .item-body-header__squre
	&__squre {
		width: 40px;
		height: 40px;
		background-color: #ffffff;
		border: 1px solid #e1e9fb;
		box-shadow: 0px 4px 9px #e3e6ed;
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		&:hover {
			background-color: #ffffff;
			border: 1px solid #e1e9fb;
			box-shadow: 0px 5px 15px #e3e6ed;
			border-radius: 5px;
		}
		&:nth-child(2) {
			@media (max-width: $md3+px) {
				display: none;
			}
		}
		@media (max-width: $md1+px) {
			margin: 0px 0px 0px 30px;
		}
		&_burger {
			display: none;
			@media (max-width: $md1+px) {
				display: block;
				margin: 0px 0px 0px 30px;
				position: relative;
				cursor: pointer;
				span {
					@include anim(0.3s, 0s);
					top: 19px;
					left: 8px;
					position: absolute;
					width: 24px;
					height: 2px;
					background-color: #0044c8;
					&:first-child {
						top: 12px;
					}
					&:last-child {
						top: auto;
						bottom: 10px;
					}
				}
				&._active {
					background-color: #0044c8;
					span {
						background-color: #fff;
						@include scale(0);
						&:first-child {
							@include rotate(-45deg);
							top: 18px;
						}
						&:last-child {
							@include rotate(45deg);
							bottom: 18px;
						}
					}
				}
			}
		}
	}
	// .item-body-header__search
	&__search {
		display: inline-block;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
	}
	// .item-body-header__form
	&__form {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		width: 100%;
		height: 40px;
		top: 0;
		right: 0;
		transition: all 0.3s ease 0s;
		input {
			background: #ffffff;
			border: 1px solid #0044c8;
			box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.05);
			border-radius: 5px 0px 0px 5px;
			line-height: 38px;
			padding: 0px 45px 0px 20px;
		}
		@media (max-width: $md3+px) {
			position: relative;
			opacity: 1;
			visibility: visible;
			input {
				background: #eff5f9;
				box-shadow: inset 0px 1px 2px #d6e0e8;
				border: none;
				line-height: 40px;
			}
			.form__btn {
				background-color: #ffffff;
				border: 1px solid #e1e9fb;
				box-shadow: 0px 4px 9px #e3e6ed;
				&:before {
					content: "";
					background: url("../img/icons/icon-search.svg") 0 0 no-repeat;
					width: 16px;
					height: 16px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
		&._active {
			opacity: 1;
			visibility: visible;
		}
	}
}
.links-body {
	display: flex;
	width: 160px;
	justify-content: space-between;
	align-items: center;
	@media (max-width: $md1+px) {
		display: none;
	}
	// .links-body__link
	&__link {
		font-weight: 500;
		font-size: 17px;
		line-height: 20px;
		color: #4d4d4d;
		border-bottom: 1px dashed #878787;
		transition: all 0.3s ease 0s;
		@media (min-width: 992px) {
			&:hover {
				color: #2670ff;
				border-bottom: 1px dashed #2670ff;
			}
			&:active {
				color: #003cb0;
			}
		}
	}
}
.form-block {
	width: 100%;
	display: flex;
	&__closed {
		background: url("../img/icons/close-red.svg") 0 0 no-repeat;
		width: 16px;
		height: 16px;
		position: absolute;
		top: 50%;
		right: 55px;
		transform: translate(0px, -50%);
		cursor: pointer;
		@media (max-width: $md3+px) {
			display: none;
		}
	}
	// .form-block__input
	&__input {
		flex: 1 1 auto;
	}
}
.menu {
	// .menu__icon
	&__icon {
		@media (max-width: $md1+px) {
			display: block;
			position: absolute;
			top: 18px;
			right: 10px;
			width: 30px;
			height: 18px;
			cursor: pointer;
			z-index: 10;
			span {
				@include anim(0.3s, 0s);
				top: 8px;
				left: 0px;
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: #000;
				&:first-child {
					top: 0px;
				}
				&:last-child {
					top: auto;
					bottom: 0px;
				}
			}
			&._active {
				span {
					@include scale(0);
					&:first-child {
						@include rotate(-45deg);
						top: 8px;
					}
					&:last-child {
						@include rotate(45deg);
						bottom: 8px;
					}
				}
			}
		}
	}
	// .menu__body
	&__body {
		@media (max-width: $md1+px) {
			width: 390px;
			position: absolute;
			top: 70px;
			right: 0;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease 0s;
			@media (max-width: 500px) {
				width: 100%;
				padding: 15px 10px;
			}
			&._active {
				right: 0;
				opacity: 1;
				visibility: visible;
			}
		}
		@media (max-width: $md3+px) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			padding: 70px 0px 0px 0px;
			z-index: 0;
			&:before {
				content: "";
				position: absolute;
				right: 23px;
				top: 65px;
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 5px solid #0043c5;
			}
		}
	}
	// .menu__content
	&__content {
		@media (max-width: $md1+px) {
			background-color: #ffffff;
			border: 1px solid #0043c5;
			border-top: 5px solid #0043c5;
			box-shadow: 0px 8px 28px rgba(20, 64, 149, 0.36);
			transition: all 0.3s ease 0s;
			padding: 40px 30px;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				right: 15px;
				top: -10px;
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 5px solid #0043c5;
				@media (max-width: $md3+px) {
					display: none;
				}
			}
		}
		@media (max-width: $md3+px) {
			padding: 20px 15px;
			height: 100%;
			overflow: auto;
			&:before {
				top: -10px;
				right: 23px;
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		li {
			display: flex;
			flex-wrap: wrap;
			position: relative;
			margin: 0px 37px 0px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
			@media (min-width: $md1+px) {
				&:hover {
					&:before {
						content: "";
						width: 100%;
						height: 5px;
						position: absolute;
						bottom: -16px;
						left: 0;
						background-color: #0044c8;
					}
				}
			}
			@media (max-width: $md1+px) {
				&:hover {
					.menu__arrow {
						background: url("../img/icons/arrow_icon__blue_pc.svg") 0 0 no-repeat;
					}
				}
			}
		}
		@media (max-width: $md1+px) {
			flex-direction: column;
			justify-content: center;
			li {
				margin: 0px 0px 25px 0px;
			}
		}
	}
	&__arrow {
		display: none;
		@media (max-width: $md1+px) {
			display: inline-block;
			padding: 0px 15px 0px 0px;
		}
	}
	// .menu__link
	&__link {
		font-weight: 500;
		display: inline-block;
		font-size: 17px;
		line-height: 55px;
		color: #4d4d4d;
		transition: all 0.3s ease 0s;
		span {
			line-height: 1;
			border-bottom: 1px dashed #878787;
		}
		@media (min-width: 992px) {
			&:hover {
				color: #2670ff;
				span {
					line-height: 1;
					border-bottom: 1px dashed #2670ff;
				}
			}
		}
		@media (max-width: $md1+px) {
			background: url("../img/icons/arrow_icon.svg") 0 0 no-repeat;
			line-height: 17px;
			padding: 0px 0px 0px 30px;
			&:hover {
				background: url("../img/icons/arrow_icon__blue_pc.svg") 0 0 no-repeat;
				color: #111;
				font-weight: 700;
			}
		}
		@media (max-width: $md3+px) {
			font-size: 16px;
		}
	}
	&__parent {
		@media (min-width: $md1+px) {
			&.hover {
				.menu__sublist {
					display: block;
				}
			}
		}
		@media (max-width: $md1+px) {
			&.active {
				.menu__sublist {
					display: block;
				}
				.menu__link {
					font-weight: 700;
					color: #000;
					background: url("../img/icons/arrow_icon__blue1.svg") 0 0 no-repeat !important;
				}
			}
		}
	}
	&__sublist {
		flex: 1 1 100%;
		position: absolute;
		top: 55px;
		right: 0;
		width: 400px;
		padding: 20px 30px;
		background-color: #ffffff;
		border: 1px solid #0043c5;
		border-top: 5px solid #0043c5;
		box-shadow: 0px 8px 28px rgba(20, 64, 149, 0.36);
		display: none;
		@media (min-width: $md1+px) {
			&:before {
				content: "";
				position: absolute;
				top: -10px;
				right: 30px;
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 5px solid #0043c5;
			}
		}
		li {
			position: relative;
			padding: 0px 0px 0px 25px;
			margin: 0px 0px 20px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
			&:after {
				content: "";
				background: url("../img/icons/arrow_icon.svg") 0 0 no-repeat;
				width: 16px;
				height: 16px;
				position: absolute;
				top: 7px;
				left: 0;
			}
			&:hover {
				&:before {
					display: none;
				}
				&:after {
					content: "";
					background: url("../img/icons/arrow_icon__blue_pc.svg") 0 0 no-repeat;
					width: 16px;
					height: 16px;
					position: absolute;
					top: 7px;
					left: 0;
				}
			}
		}
		@media (max-width: $md1+px) {
			position: relative;
			border: none;
			border-top: none;
			box-shadow: none;
			top: 0;
			padding: 20px 20px 20px 40px;
			li {
				&:after {
					content: "";
					background: url("../img/icons/arrow_icon_nc.svg") 0 0 no-repeat;
					width: 16px;
					height: 16px;
					position: absolute;
					top: 7px;
					left: 0;
				}
				&:hover {
					&:after {
						content: "";
						background: url("../img/icons/arrow_icon_nc_blue.svg") 0 0 no-repeat;
						width: 6px;
						height: 9px;
						position: absolute;
						top: 7px;
						left: 0;
					}
				}
			}
		}
	}
	&__subLink {
		font-family: "Roboto";
		font-weight: 500;
		font-size: 17px;
		line-height: 24px;
		color: #4d4d4d;
		span {
			line-height: 1;
			border-bottom: 1px dashed #bababa;
		}
		@media (max-width: $md3+px) {
			font-size: 16px;
		}
		&:hover {
			color: #2670ff;
		}
	}
	&__hide {
		display: none;
		@media (max-width: $md1+px) {
			display: flex;
			flex-direction: column;
			li {
				margin: 20px 0px 20px 0px;

				&:last-child {
					margin: 0px 0px 0px 0px;
				}
			}
		}
		@media (max-width: $md2+px) {
			margin: 0px 0px 40px 0px;
		}
	}
}
.icon-menu {
}

//====================================================================================================

//====================================================================================================

/*
	//Burger
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&._active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
