//====================================================================================================
.page {
	// .page__main
	&__main {
	}
	&__block {
	}
	// .page__slider
	&__slider {
	}
	// .page__advantages
	&__advantages {
	}
	// .page__question
	&__question {
	}
	// .page__catalog
	&__catalog {
	}
}

//============================================= main-screen

.main-screen {
	margin: 140px auto 0px auto;
	position: relative;
	max-width: 1920px;
	@media (max-width: $md1+px) {
		margin: 80px 0px 0px 0px;
	}
	@media (max-width: $md3+px) {
		margin: 70px 0px 0px 0px;
	}
	// .main-screen_bg
	&_bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
		img {
			max-width: 100%;
		}
	}
	// .main-screen__content
	&__content {
		position: relative;
		z-index: 1;
	}
	// .main-screen__text
	&__text {
		padding: 65px 0px 150px 0px;
		position: relative;
		max-width: 750px;
		font-family: "PT Sans";
		font-style: normal;
		font-size: 52px;
		line-height: 62px;
		color: #ffffff;
		span {
			&:nth-child(1) {
				font-weight: bold;
			}
			@media (max-width: $md3+px) {
				&:nth-child(2) {
					display: none;
				}
			}
		}
		@media (max-width: $md1+px) {
			font-size: 48px;
		}
		@media (max-width: $md3+px) {
			padding: 65px 10px 150px 10px;
			font-size: 42px;
		}
	}
}
//============================================= main-slide
.main-slider {
	margin: -50px auto 0px auto;
	padding: 50px 0px 0px 0px;
	text-align: center;
	// .main-slider__slide
	&__slide {
	}
	.swiper-wrapper {
		align-items: stretch;
	}
}
.slide-main {
	position: relative;
	background: linear-gradient(90deg, #4f4f4f 0%, #4d4d4d 42.55%, #464646 100%);
	&:hover {
		background: #5c5c5c;
		position: relative;
		&:before {
			content: "";
			width: 100%;
			height: 5px;
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: #e30000;
		}
		&:after {
			content: "";
			position: absolute;
			left: 50%;
			bottom: 0px;
			width: 0;
			height: 0;
			transform: translate(-50%, 0px);
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-bottom: 12px solid #e30000;
		}
	}
	// .slide-main__item
	&__item {
		position: relative;
		display: block;
		padding: 0px 10px;
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	// .slide-main__img
	&__img {
		flex: 1 1 auto;
		position: relative;
		top: -50px;
		left: 0;
		img {
			max-width: 100%;
		}
		@media (max-width: $md3+px) {
			height: 100%;
		}
	}
	// .slide-main__text
	&__text {
		position: relative;
		display: inline;
		top: -50px;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		text-align: center;
		color: #eeeeee;
		padding: 0px 20px;
		max-width: 280px;
		margin: 0px auto;

		span {
			border-bottom: 1px dashed #878787;
		}
	}
}
.block-page {
	position: relative;
	// .block-page__arrows
	&__arrows {
	}
	// .block-page__arrow
	&__arrow {
		position: absolute;
		background: url("../img/icons/sl-arrow.svg") center / 21px no-repeat;
		width: 61px;
		top: 50%;
		transform: translate(0px, -50%);
		cursor: pointer;
		height: 83px;
		z-index: 5;
		// .block-page__arrow_prev
		&_prev {
			left: 0px;
		}
		// .block-page__arrow_next
		&_next {
			right: 0px;
			transform: rotate(-180deg) translate(0px, 50%);
		}
		&.swiper-button-disabled {
			display: none;
		}
	}
	// .block-page__dotts
	&__dotts {
		display: none;
		@media (max-width: 1500px) {
			display: block;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 15px 0px 0px 0px;
			.swiper-pagination-bullet {
				width: 12px;
				height: 12px;
				transition: all 0.3s ease 0s;
				margin: 0px 7px;
				border-radius: 50%;
				background-color: #d6dfef;
			}
			.swiper-pagination-bullet-active {
				background-color: #2670ff;
			}
		}
	}
}
//==========================advantages================================================

.advantages {
	// .advantages__row
	&__row {
		padding: 80px 0px 40px 0px;
		display: flex;
		align-items: center;
		@media (max-width: $md2+px) {
			flex-wrap: wrap;
		}
		@media (max-width: $md3+px) {
			padding: 40px 10px 20px 10px;
		}
	}
	// .advantages__column
	&__column {
		flex: 0 1 25%;
		max-width: 25%;
		margin: 0px 0px 40px 0px;
		@media (max-width: $md2+px) {
			flex: 0 1 50%;
			max-width: 50%;
		}
		@media (max-width: $md3+px) {
			flex: 0 1 100%;
			max-width: none;
		}
	}
	// .advantages__item
	&__item {
	}
}

.item-advantages {
	text-align: center;
	@media (max-width: $md2+px) {
		display: flex;
		flex-direction: row;
		max-width: 335px;
		justify-content: space-between;
	}
	@media (max-width: $md3+px) {
		max-width: 300px;
	}
	// .item-advantages__circle
	&__circle {
		width: 158px;
		height: 158px;
		border-radius: 50%;
		background: #ffffff;
		border: 1px solid #e1e9fb;
		box-shadow: 0px 10px 20px #edf0fa;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin: 0px 0px 35px 0px;
		@media (max-width: $md2+px) {
			flex: 0 0 98px;
			width: 98px;
			height: 98px;
			margin: 0px 35px 0px 0px;
		}
		@media (max-width: $md3+px) {
			flex: 0 0 80px;
			width: 80px;
			height: 80px;
			margin: 0;
		}
	}
	// .item-advantages__icon
	&__icon {
		@media (max-width: $md2+px) {
			text-align: center;
			img {
				max-width: 60%;
			}
		}
	}
	// .item-advantages__title
	&__title {
		flex: 1 1 auto;
		font-weight: bold;
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		color: #00359b;
		@media (max-width: $md2+px) {
			text-align: left;
		}
		@media (max-width: $md3+px) {
			font-size: 21px;
			text-align: left;
			padding: 0px 0px 0px 30px;
		}
	}
}

//==========================question================================================
.question {
	background-color: #ecf1fb;
	padding: 80px 0px;

	&__container {
	}
	// .question__body
	&__body {
		background: #ffffff;
		/* blue */
		border: 6px solid #0044c8;
		box-sizing: border-box;
		box-shadow: 0px 25px 30px rgba(205, 212, 226, 0.75);
		padding: 60px 40px 70px 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width: $md1+px) {
			padding: 60px 15px 70px 15px;
		}
		@media (max-width: $md2+px) {
			padding: 60px 70px 70px 100px;
		}
		@media (max-width: $md3+px) {
			padding: 120px 20px 70px 20px;
		}
	}
	// .question__text

	// .question__link
	&__link {
		background-color: #e30000;
		box-shadow: 0px 10px 25px rgba(255, 150, 150, 0.75);
		border-radius: 5px;
		font-weight: bold;
		font-size: 24px;
		line-height: 73px;
		position: relative;
		display: inline-block;
		color: #ffffff;
		padding: 0px 0px 0px 50px;
		text-align: center;
		span {
			@media (max-width: $md3+px) {
				display: none;
			}
		}
		&:before {
			content: "";
			background: url("../img/icons/arrow_message.png") 0 0 no-repeat;
			width: 31px;
			height: 21px;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0px, -50%);
		}
	}
}

.body-question {
	display: flex;
	flex-direction: column;
	align-items: center;
	// .body-question__title
	&__title {
		margin: 0px 0px 70px 0px;
		position: relative;
		max-width: 880px;
		font-size: 42px;
		padding: 0px 0px 0px 60px;
		&:before {
			content: "";
			background: url("../img/icons/icon_question.png") 0 0 no-repeat;
			width: 45px;
			height: 45px;
			position: absolute;
			top: 5px;
			left: 0px;
		}
		@media (max-width: $md2+px) {
			padding: 0px 0px 0px 40px;
			font-size: 38px;
			text-align: left;
			&:before {
				left: -30px;
			}
		}
		@media (max-width: $md3+px) {
			font-size: 28px;
			padding: 0;
			margin: 0px 0px 40px 0px;
			.title-catalog__red {
				font-size: 36px;
			}
			span {
				&:nth-child(2) {
					display: block;
				}
			}
			&:before {
				top: -60px;
				left: 50%;
				transform: translate(-50%, 0px);
			}
		}
	}
	// .body-question__btn
	&__btn {
		@media (max-width: $md3+px) {
			span {
				display: none;
			}
			padding: 0px 50px 0px 70px;
			&:before {
				content: "";
				left: 30px;
			}
		}
	}
}

//==========================catalog================================================

.catalog {
	position: relative;
	max-width: 1920px;
	margin: 0px auto;
	// .catalog_item
	&_item {
		max-width: 415px;
		p {
			text-align: left;
		}
		@media (max-width: $md3+px) {
			max-width: 50%;
			margin: 0px auto 20px auto;
			p {
				text-align: center;
			}
		}
		@media (max-width: $md3+px) {
			.title-catalog__red {
				font-size: 34px;
			}
			.title-catalog__text {
				font-size: 34px;
				line-height: 42px;
			}
		}
	}
	// .catalog__container
	&__container {
		position: relative;
		z-index: 1;
	}
	// .catalog__row
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 65px 0px 105px 0px;
		position: relative;
		&:before {
			content: "";
			background: url("../img/catalog/arrow.svg") 0 0 / 100% 100% no-repeat;
			width: 83px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0px);
		}
		@media (max-width: $md1+px) {
			display: block;
			padding: 65px 100px 105px 410px;
			&:before {
				display: none;
			}
		}
		@media (max-width: $md2+px) {
			padding: 65px 50px 105px 230px;
		}
		@media (max-width: $md3+px) {
			padding: 65px 10px 105px 10px;
			display: block;
		}
	}
	// .catalog__column
	&__column {
		flex: 0 0 460px;
		@media (max-width: $md3+px) {
		}
	}
	// .catalog__text
	&__text {
		@media (max-width: $md3+px) {
			max-width: 320px;
			font-size: 36px;
			line-height: 42px;
			text-align: center;
		}
	}
	// .catalog__link
	&__link {
		@media (max-width: $md3+px) {
			max-width: 290px;
			margin: 0px auto;
			font-size: 24px;
		}
	}
	// .catalog__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
		img {
			@media (max-width: $md1+px) {
				display: none;
			}
		}
		@media (max-width: $md1+px) {
			background: url("../img/catalog/img_left.png") 0 0 / cover no-repeat;
		}
		@media (max-width: $md3+px) {
			display: none;
		}
	}

	// .catalog__768
}

.title-catalog {
	font-family: "PT Sans";
	font-weight: bold;
	font-size: 42px;
	line-height: 52px;
	color: #4d4d4d;
	text-align: center;
	@media (max-width: $md3+px) {
		text-align: left;
	}
	// .title-catalog__red
	&__red {
		color: #e30000;
		position: relative;
		font-size: 42px;
		background: linear-gradient(to top, #ffe4e4, #ffe4e4 45%, transparent 46%, transparent 100%);
		@media (max-width: $md3+px) {
		}
	}
	&__text {
		@media (max-width: $md1+px) {
			margin: 0px 0px 30px 0px;
		}
	}
	&__hide {
		@media (max-width: $md3+px) {
			display: none;
		}
	}
}
