//====================================================================================================
.popup {
	background-color: rgba(0, 0, 0, 0.8);
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 100;
	padding: 30px 10px;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.8s ease 0s;
	visibility: hidden;
	&.show {
		display: block;
		.popup__body {
			transform: scale(1);
		}
	}
	&._active {
		opacity: 1;
		visibility: visible;
		.popup__body {
			transform: scale(1);
		}
	}
	// .popup__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .popup__body
	&__body {
		transform: scale(0);
		transition: all 0.3s ease 0s;
		background-color: #fff;
		padding: 50px;
		width: 100%;
		max-width: 800px;
		position: relative;
		&_catalog {
			max-width: 450px;
		}
		@media (max-width: 500px) {
			padding: 30px 10px;
		}
	}
	// .popup__close
	&__close {
		width: 15px;
		height: 15px;
		position: absolute;
		top: 15px;
		right: 15px;
		cursor: pointer;
		// background: url("../img/icons/close.svg") 0 0 no-repeat;
		background: url("../img/icons/close-red.svg") 0 0 / 100% no-repeat;
	}
	// .popup__text
	&__text {
		text-align: center;
		font-size: 40px;
		line-height: calc(44 / 40);
	}
}
//====================================================================================================
//====================================================================================================

.body-feedback {
	// .body-feedback__title
	&__title {
	}
	// .body-feedback__form
	&__form {
	}
}

.form-feedback {
	// .form-feedback__input
	&__input {
		&_feed {
			width: 100%;
			@media (max-width: 500px) {
				input {
					height: 35px;
					font-size: 16px;
				}
			}
		}
	}
	// .form-feedback__row
	&__row {
	}
	// .form-feedback__column
	&__column {
	}
	// .form-feedback__text-area
	&__text-area {
		&_feed {
		}
	}
	// .form-feedback__button
	&__button {
	}
	// .form-feedback__btn
	&__btn {
		&_feed {
			@media (max-width: 500px) {
				font-size: 15px;
				line-height: 40px;
				height: 40px;
			}
		}
	}
}
.input {
}
.btn-send {
}

.body-catalog {
	// .body-catalog__title
	&__title {
		margin: 0px 0px 20px 0px;
		@media (max-width: 500px) {
			font-size: 30px;
		}
	}
}

.form-catalog {
	&_pop {
	}

	// .form-catalog__input
	&__input {
		&_pop {
			width: 100%;
			@media (max-width: 500px) {
				input {
					height: 35px;
					font-size: 16px;
				}
			}
		}
	}
	// .form-catalog__btn
	&__btn {
		&_pop {
			@media (max-width: 500px) {
				font-size: 15px;
				height: 40px;
			}
		}
	}
}
