//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap&subset=cyrillic-ext");
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons.scss";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Roboto";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1140;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
		@media (max-width: $md3+px) {
			//width: 100%;
			//position: fixed;
			//overflow: hidden;
		}
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: all 0.3s ease 0s;
	&._loaded {
		opacity: 1;
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $mw + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0px 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
@import "lightgallery.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
@import "contacts.scss";
@import "elements.scss";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	// .page_inner
	&_inner {
		padding: 200px 0px 0px 0px;
		@media (max-width: $md1+px) {
			padding: 140px 0px 0px 0px;
		}
		@media (max-width: $md3+px) {
			padding: 100px 0px 0px 0px;
		}
	}
}
//===================================================================================================================================
.search {
	padding: 0px 0px 30px 0px;
	// .search__item
	&__item {
		margin: 0px 0px 40px 0px;
	}
}
.item-search {
	// .item-search__title
	&__title {
		font-family: "PT Sans";
		font-weight: bold;
		font-size: 34px;
		color: #4d4d4d;
		margin: 0px 0px 30px 0px;
		line-height: calc(36 / 30);
		margin: 0px 0px 15px 0px;
		display: inline-block;
		@media (min-width: 992px) {
			&:hover {
				color: #0044c8;
			}
		}
		@media (max-width: $md3+px) {
			font-size: 18px;
		}
	}
	// .item-search__text
	&__text {
		font-size: 18px;
		line-height: calc(24 / 18);
		@media (max-width: $md3+px) {
			font-size: 14px;
		}
	}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
