//<ОСНОВНОЙ БЛОК>====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
.row:after {
	display: block;
	content: "";
	clear: both;
}
.rub:after {
	content: "₽";
}
//====================================================================================================
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
//====================================================================================================
ol.counter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		padding: 0px 0px 0px 45px;
		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
			color: #818181;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
			line-height: 26px;
			border-radius: 50%;
			width: 28px;
			height: 28px;
			border: 1px solid #4274bb;
		}
	}
}
//====================================================================================================
.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.es {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
//====================================================================================================
.table {
	display: table;
	font-size: 0;
	width: 100%;
	//table-layout: fixed;
}
.trow {
	display: table-row;
}
.cell {
	display: table-cell;
	&.full {
		width: 100%;
	}
}
//====================================================================================================
._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
body.ie {
	._ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	._ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}
//====================================================================================================
.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.videobg {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}
//====================================================================================================
.moretext {
	overflow: hidden;
}
.moretext__more {
	cursor: pointer;
	span {
		font-style: normal;
		&:first-child {
			display: block;
		}
		&:last-child {
			display: none;
		}
	}
	&.active {
		span {
			font-style: normal;
			&:first-child {
				display: none;
			}
			&:last-child {
				display: block;
			}
		}
	}
}
//====================================================================================================
.graystyle {
	@include anim(0.8s, 0s);
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}
.graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}
//====================================================================================================
._swiper {
	overflow: hidden;
}
.swiper-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	display: flex;
	align-items: flex-start;
	position: relative;
	transition-property: transform;
}
.swiper-container-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}
.swiper-container-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}
.swiper-button-lock {
	display: none !important;
}
//====================================================================================================
.slick-slider {
	position: relative;
	.slick-track,
	.slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.slick-list {
		position: relative;
		overflow: hidden;
		width: 100%;
	}
	.slick-track {
		position: relative;
		width: 100%;
		@include flexbox();
	}
	.slick-slide {
		position: relative;
	}
	.slick-arrow {
		&.slick-prev {
		}
		&.slick-next {
		}
	}
	.slick-dots {
		li {
			button {
			}
			&.slick-active {
				button {
				}
			}
		}
	}
}
//=====================================================================================================================
.tab__item {
	display: none;
	&.active {
		display: block;
	}
}
//=====================================================================================================================
._tabs {
}
._tabs-item {
}
._tabs-block {
	display: none;
	&.active {
		display: block;
	}
}
//=====================================================================================================================
.mirror {
	transform: scale(-1, 1);
}
//=====================================================================================================================
.nicescroll-rails {
	z-index: 1000 !important;
}
//=====================================================================================================================
.gm-style {
}
.gm-style-iw-t {
	opacity: 0;
}
.baloon {
	opacity: 1;
	right: -7px !important;
	bottom: 80px !important;
	button {
		display: none !important;
	}
	&:after {
		display: none !important;
	}
}
.baloon-style {
	display: none;
}
.baloon-content.gm-style-iw {
	opacity: 1;
	border-radius: 0px !important;
	max-width: 300px !important;
	padding: 0 !important;
	left: 0 !important;
	width: 100% !important;
	overflow: visible !important;
	> .gm-style-iw-d {
		overflow: hidden !important;
		max-width: none !important;
	}
	&:after {
		display: none !important;
	}
}
.baloon-close {
	top: 18px !important;
}
//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
.content {
	h1 {
		font-family: "PT Sans";
		font-weight: bold;
		font-size: 52px;
		color: #4d4d4d;
		line-height: 62px;
		margin: 0px 0px 60px 0px;
		@media (max-width: $md2+px) {
			font-size: 48px;
			line-height: 58px;
			margin: 0px 0px 45px 0px;
		}
		@media (max-width: $md3+px) {
			font-size: 36px;
			line-height: 38px;
			margin: 0px 0px 30px 0px;
		}
	}
	h2 {
		font-family: "PT Sans";
		font-weight: bold;
		font-size: 42px;
		color: #4d4d4d;
		margin: 0px 0px 30px 0px;
		@media (max-width: $md2+px) {
			font-size: 38px;
		}
		@media (max-width: $md3+px) {
			font-size: 36px;
			margin: 0px 0px 20px 0px;
		}
	}
	h3 {
		font-family: "PT Sans";
		font-weight: bold;
		font-size: 34px;
		color: #4d4d4d;
		margin: 0px 0px 30px 0px;
		@media (max-width: $md2+px) {
			font-size: 32px;
		}
		@media (max-width: $md3+px) {
			font-size: 28px;
			margin: 0px 0px 20px 0px;
		}
	}
	h4 {
		font-family: "PT Sans";
		font-weight: bold;
		font-size: 28px;
		color: #4d4d4d;
		line-height: 38px;
		margin: 0px 0px 30px 0px;
		@media (max-width: $md2+px) {
			font-size: 24px;
			line-height: 34px;
		}
		@media (max-width: $md3+px) {
			font-size: 21px;
			line-height: 24px;
			margin: 0px 0px 20px 0px;
		}
	}
	h5 {
		font-family: "PT Sans";
		font-weight: bold;
		font-size: 21px;
		line-height: 40px;
		position: relative;
		color: #4d4d4d;
		@media (max-width: $md3+px) {
			font-size: 18px;
			line-height: 24px;
		}
	}
	p {
		font-size: 18px;
		line-height: 24px;
		margin: 0px 0px 10px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
}

.mail {
	font-size: 18px;
	line-height: 23px;
	color: #4d4d4d;
	padding: 0px 0px 0px 28px;
	position: relative;
	transition: all 0.3s ease 0s;

	@media (min-width: 992px) {
		&:hover {
			color: #2670ff;
		}
	}
}

.phone {
	font-weight: bold;
	font-size: 21px;
	line-height: 25px;
	color: #4d4d4d;
	position: relative;
	padding: 0px 0px 0px 20px;
	transition: all 0.3s ease 0s;

	@media (min-width: 992px) {
		&:hover {
			color: #2670ff;
		}
	}
}
