.wp-block-uagb-table-of-contents .uagb-toc__wrap {
	margin: 0px 0px 30px 0px;
}
.wp-block-uagb-table-of-contents ul.uagb-toc__list:first-child {
	margin: 0;
}
.wp-block-uagb-table-of-contents ul.uagb-toc__list {
	margin-left: 1em;
	margin-bottom: 0;
}
.wp-block-uagb-table-of-contents .uagb-toc__list-wrap ul {
	padding: 0;
}
.wp-block-uagb-table-of-contents .uagb-toc__list-wrap ul li a {
	color: inherit;
	line-height: inherit;
	font-size: inherit;
}
.wp-block-uagb-table-of-contents.uagb-toc__align-left {
	text-align: left;
}
.wp-block-uagb-table-of-contents.uagb-toc__align-center {
	text-align: center;
}
.wp-block-uagb-table-of-contents.uagb-toc__align-right {
	text-align: right;
}
.wp-block-uagb-table-of-contents ul li:empty {
	display: none;
}
.wp-block-uagb-table-of-contents .uagb-toc__title-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.wp-block-uagb-table-of-contents .uagb-toc__is-collapsible.uagb-toc__title-wrap {
	cursor: pointer;
}
.wp-block-uagb-table-of-contents .uag-toc__collapsible-wrap svg {
	width: 20px;
	height: 20px;
}
.wp-block-uagb-table-of-contents .uag-toc__collapsible-wrap {
	margin-left: 10px;
	display: flex;
	cursor: pointer;
}
.wp-block-uagb-table-of-contents.uagb-toc__collapse .uagb-toc__list-wrap {
	display: none;
}
.uagb-toc__list .uagb-toc__list {
	list-style-type: circle;
}
.uagb-toc__scroll-top.dashicons {
	display: none;
	position: fixed;
	bottom: 50px;
	right: 50px;
	padding: 10px;
	background: #ccd0d4;
	cursor: pointer;
}
.uagb-toc__scroll-top.uagb-toc__show-scroll {
	display: inline-table;
}
